body
{
    color: #333;
    text-align: left;
    font-family: Arial;
    font-size: 16px;
    margin:0;
    padding: 0;
    
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
    justify-content: center;
}
#container h1{
    font-size: 20px;
}
#cabecera{

    font-weight: bold;
    background-color: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#footer{
    width: 100%;
    padding: 0.2rem;
    background-color:darkcyan;
    color: white;
    text-align: center;
    font-weight: bold;
}